/* - Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700
 */

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--stone-600);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--stone-100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  /* width: 100%; */
  max-width: 665px;
  background-color: var(--white);
  margin: 8rem 0 2rem;
  border-radius: 24px;
  padding: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--stone-900);
}

ul,
ol {
  padding: 0 0 0 2rem;
}

li {
  margin: 14px 0;
  padding-left: 20px;
}

li span {
  font-weight: 700;
}

ul li::marker,
ol li::marker {
  color: var(--rose-800);
}

ul li::marker {
  font-size: 0.8rem;
}

ol li::marker {
  font-size: 1.1rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1.9rem;
  margin: 1.2rem 0;
  color: var(--brown-800);
}

section hr {
  margin: 2rem 0;
  height: 1px;
  border: none;
  background-color: var(--stone-150);
}

.attribution {
  margin: 2rem;
  text-align: center;
}

.attribution a {
  color: var(--rose-800)
}

.attribution a:visited {
  color: var(--stone-600);
}

/* INTRO SECTION */

.intro .img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.intro h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0 1rem;
}

.intro p {
  margin-block-end: 2rem;
  line-height: 1.5rem;
}

.intro .preparation-time {
  background-color: var(--rose-50);
  padding: 1.5rem 1.3rem 1rem;
  border-radius: 10px;
}

.intro .preparation-time p {
  font-family: "Outfit", sans-serif;
  color: var(--rose-800);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
  padding-inline-start: 0.5rem;
}

.intro .preparation-time ul li:last-child {
  margin-bottom: 0;
}

/* NITRITION SECTION */

.nutritions table {
  width: 95%;
  border-collapse: collapse;
}

.nutritions table tr {
  border-bottom: 1px solid var(--stone-150);
}

.nutritions table tr:last-of-type {
  border-bottom: none;
}

.nutritions table tr td {
  width: 50%;
  height: 2.5rem;
}

.nutritions table tr td:first-of-type {
  padding-left: 30px;
}

.nutritions table tr td:last-of-type {
  color: var(--brown-800);
  font-weight: 700;
}

@media only screen and (max-width: 900px) {
  main {
    margin: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 15px;
  }

  main {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  section {
    margin: 0 20px;
  }

  .intro .img {
    margin: 0 -20px;
  }

  .intro .img img {
    border-radius: 0;
  }

  .nutritions table {
    margin-bottom: 1.5rem;
  }
}
